.card-item{
  border-radius: 1px white;
}

.card-list{
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 400px;
  width: 600px;
  overflow: auto;
}

.card-container {
  display: flex;
  gap: 10px;
  padding-left: 50px;
}

.card-item {
  flex: 1;
  align-items: start;
  text-align: left;
}

.card-name{
  align-items: start;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-left: 50px;
  color: #9DD9EE;
}

.card-block{
  padding: 10px 0;
}

.card-block:hover{
  background-color: gray;
}

