.header {
  display: flex;
  justify-content: space-between;
  width: 450px;
  gap: 20px;
  align-items: center;
}

.search-input {
  width: 450px;
  height: 32px;
  border-radius: 8px;
  padding: 0 16px;
}

.search-button {
  height: 32px;
}
